<!DOCTYPE html>
<html>
    <head>
      
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        
        <meta charset="utf-8" />
        <title>{% block title %}Biosecurity{% endblock %}</title>
        <!-- Bootstrap CSS link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 15px;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        background-color: #e57a22;
      }
        
      li {
        float: left;
      }
        
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
        
      li a:hover {
        background-color: #ec9239;
      }
    </style>
  
</head>

<body>
    <nav>
          <h1>Biosecurity</h1>
          <p>Welcome to Biosecurity!</p>

          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('list_apiarist') }}">Manage Apiarist</a></li>
            <li><a href="{{ url_for('staff_list') }}">Manage Staff</a></li>
            <li><a href="{{ url_for('add_staff') }}">Add Staff</a></li>

          </ul>
        </nav>
</body>

<body style="background-color:#fcf2ea;">

<br>
<h3>Update Basic Information</h3>

<table style="width:90%">
<!-- code to display staff-->
<tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Work Phone Number</th>
</tr>
{% if staff %}
        <tr>
            <td>{{ staff[2] }}</td>
            <td>{{ staff[3] }} </td>
            <td>{{ staff[4] }}</td>
            <td>{{ staff[5] }}</td>
        </tr>
        <tr>
            <td>
                <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                    <label for="first_name"></label>
                    <input type="text" id="first_name" name="first_name" placeholder="Type update here">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                    <label for="last_name"></label>
                    <input type="text" id="last_name" name="last_name" placeholder="Type update here">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                    <label for="staff_email"></label>
                    <input type="email" id="staff_email" name="staff_email" placeholder="Type update here">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                    <label for="work_phone_number"></label>
                    <input type="tel" id="work_phone_number" name="work_phone_number" placeholder="Type update here">
                    <button type="submit">Update</button>
                </form>
            </td>
    
        </tr>

</table>

<br><br>

<h3>Update Details</h3>

<table style="width:90%">
    <tr>
        <th>Hire Date</th>
        <th>Position</th>
        <th>Department</th>
        <th>Staff Status</th>
    </tr>
    <tr>
            <td>{{ staff[6] }}</td>
            <td>{{ staff[7] }}</td>
            <td>{{ staff[8] }}</td>
            <td>{{ staff[9] }}</td>
    </tr>
    <tr>
        <td>
            <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                <label for="hire_date"></label>
                <input type="date" id="hire_date" name="hire_date">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                <label for="position"></label>
                <input type="text" id="position" name="position" placeholder="Type update here">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                <label for="department"></label>
                <input type="text" id="department" name="department" placeholder="Type update here">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('admin_update_staff', userid=staff[0]) }}" method="post">
                <label for="staff_status"></label>
                <select id="staff_status" name="staff_status">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
</table>



<br><br>

<h4>Delete the Staff</h4>

<form action="{{ url_for('delete_staff', userid=userid) }}" method="post">
    <button type="submit" onclick="return confirm('Are you sure you want to delete this staff?')">Delete</button>
</form>

{% endif %}

   </body>
<br><br>

</html>





